<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Huffman Tree Visualization</title>
    <!-- Add any necessary CSS or other head elements -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

    <nav>
        <a href="/">Huffman</a>
        <a href="/shannon">Shannon</a>
    </nav>

    <input type="file" id="imageInput" />
    <button onclick="uploadImageHuffmanCompress()">Upload Compress Decompress Image</button>
    <button onclick="reset()">Reset</button>
    <div id="huffmanTreeContainer"></div>
    <table border="1" id="huffmanTable">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Frequency</th>
                <th>Huffman Code</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Table rows will be dynamically added here -->
        </tbody>
    </table>


    <script>
        function uploadImageHuffmanCompress() {
            var fileInput = document.getElementById('imageInput');
            var file = fileInput.files[0];
            var formData = new FormData();
            formData.append('file', file);

            fetch('/uploadImageAndHuffmanCompressDecompress', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                displayHuffmanTree(data.plotly_figure);
                displayFrequencyTable(JSON.parse(data.frequency_dict), JSON.parse(data.huffman_code_dict));
                // console.log(data.frequency_dict);
                // console.log(data.huffman_code_dict);
                // console.log(data.compressed_data_path);
                // console.log(data.original_image_path);
            })
            .catch(error => console.error('Error:', error));
        }

        function displayHuffmanTree(plotly_figure) {
            // Render Plotly figure
            var huffmanTreeContainer = document.getElementById('huffmanTreeContainer');
            // Clear the existing content
            huffmanTreeContainer.innerHTML = '';
            // Create a new div element to hold the Plotly figure
            var newDiv = document.createElement('div');
            newDiv.id = 'plotlyFigure';
            // Append the new div to the container
            huffmanTreeContainer.appendChild(newDiv);
            // Use plotly.newPlot to render the figure
            Plotly.newPlot('plotlyFigure', JSON.parse(plotly_figure));
        }

        function displayFrequencyTable(frequencyDict, codeDict) {
            var tableBody = document.getElementById("tableBody");
            tableBody.innerHTML = "";

            var symbols = Object.keys(frequencyDict).sort(function(a, b) {
                return frequencyDict[b] - frequencyDict[a];
            });

            for (var i = 0; i < symbols.length; i++) {
                var symbol = symbols[i];
                var frequency = frequencyDict[symbol];
                var code = codeDict[symbol] || '';

                var row = document.createElement("tr");

                var symbolCell = document.createElement("td");
                symbolCell.textContent = symbol;
                row.appendChild(symbolCell);

                var frequencyCell = document.createElement("td");
                frequencyCell.textContent = frequency;
                row.appendChild(frequencyCell);

                var codeCell = document.createElement("td");
                codeCell.textContent = code
                row.appendChild(codeCell);

                tableBody.appendChild(row);
            }
        }

        function reset() {
            // Clear the Huffman tree visualization
            var huffmanTreeContainer = document.getElementById('huffmanTreeContainer');
            huffmanTreeContainer.innerHTML = '';
            var tableBody = document.getElementById("tableBody");
            tableBody.innerHTML = "";
        }
    </script>

</body>
</html>
